<table border="1" class="dataframe table table-dark table-hover table-bordered">
  <thead>
    <tr style="text-align: right;">
      <th>Pos</th>
      <th>What it Means</th>
      <th>Who is Eligible</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>QB</td>
      <td>Quarterback</td>
      <td>Only quarterbacks</td>
    </tr>
    <tr>
      <td>RB</td>
      <td>Running Back</td>
      <td>Only running backs</td>
    </tr>
    <tr>
      <td>WR</td>
      <td>Wide Receiver</td>
      <td>Only wide receivers</td>
    </tr>
    <tr>
      <td>TE</td>
      <td>Tight End</td>
      <td>Only tight ends</td>
    </tr>
    <tr>
      <td>W/R</td>
      <td>Wide Receiver/Running Back</td>
      <td>Any wide receiver or running back</td>
    </tr>
    <tr>
      <td>W/T</td>
      <td>Wide Receiver/Tight End</td>
      <td>Any wide receiver or tight end</td>
    </tr>
    <tr>
      <td>Q/WR/RB/TE</td>
      <td>Quarterback/Wide Receiver/Running Back/Tight End</td>
      <td>Any quarterback, wide receiver, running back or tight end</td>
    </tr>
    <tr>
      <td>WR/RB/TE</td>
      <td>Wide Receiver/Running Back/Tight End</td>
      <td>Any wide receiver, running back or tight end</td>
    </tr>
    <tr>
      <td>K</td>
      <td>Kicker</td>
      <td>Only kickers</td>
    </tr>
    <tr>
      <td>DEF</td>
      <td>Defensive Team</td>
      <td>Only team defenses</td>
    </tr>
    <tr>
      <td>D</td>
      <td>Defensive Player</td>
      <td>Any defensive player</td>
    </tr>
    <tr>
      <td>DL</td>
      <td>Defensive Lineman</td>
      <td>Only defensive linemen</td>
    </tr>
    <tr>
      <td>DB</td>
      <td>Defensive Back</td>
      <td>Only defensive backs</td>
    </tr>
    <tr>
      <td>LB</td>
      <td>Linebacker</td>
      <td>Only linebackers</td>
    </tr>
    <tr>
      <td>CB</td>
      <td>Corner Back</td>
      <td>Only corner backs</td>
    </tr>
    <tr>
      <td>S</td>
      <td>Safety</td>
      <td>Only safties</td>
    </tr>
    <tr>
      <td>BN</td>
      <td>Bench</td>
      <td>Any player</td>
    </tr>
  </tbody>
</table>