<table border="1" class="dataframe table table-dark table-hover table-bordered">
  <thead>
    <tr style="text-align: right;">
      <th>Abbreviation</th>
      <th>What it Means</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pass Att</td>
      <td>Passing Attempts</td>
    </tr>
    <tr>
      <td>Comp</td>
      <td>Completions</td>
    </tr>
    <tr>
      <td>Inc</td>
      <td>Incomplete Passes</td>
    </tr>
    <tr>
      <td>Pass Yds</td>
      <td>Passing Yards</td>
    </tr>
    <tr>
      <td>Pass TD</td>
      <td>Passing Touchdowns</td>
    </tr>
    <tr>
      <td>Int</td>
      <td>Interceptions Thrown</td>
    </tr>
    <tr>
      <td>Sack</td>
      <td>Times Sacked</td>
    </tr>
    <tr>
      <td>Rush Att</td>
      <td>Rushing Attempts</td>
    </tr>
    <tr>
      <td>Rush Yds</td>
      <td>Rushing Yards</td>
    </tr>
    <tr>
      <td>Rush TD</td>
      <td>Rushing Touchdowns</td>
    </tr>
    <tr>
      <td>Rec</td>
      <td>Receptions</td>
    </tr>
    <tr>
      <td>Rec Yds</td>
      <td>Receiving Yards</td>
    </tr>
    <tr>
      <td>Rec TD</td>
      <td>Receiving Touchdowns</td>
    </tr>
    <tr>
      <td>Ret Yds</td>
      <td>Return Yards</td>
    </tr>
    <tr>
      <td>Ret TD</td>
      <td>Return Touchdowns</td>
    </tr>
    <tr>
      <td>Off Fum Ret TD</td>
      <td>Offensive Fumble Return Touchdowns</td>
    </tr>
    <tr>
      <td>2-PT</td>
      <td>Two-point Conversions</td>
    </tr>
    <tr>
      <td>Fum</td>
      <td>Fumble</td>
    </tr>
    <tr>
      <td>Fum Lost</td>
      <td>Fumble Lost</td>
    </tr>
    <tr>
      <td>FG</td>
      <td>Field Goal</td>
    </tr>
    <tr>
      <td>FGM</td>
      <td>Field Goal Missed</td>
    </tr>
    <tr>
      <td>Pts Allow</td>
      <td>Points Allowed</td>
    </tr>
    <tr>
      <td>Tack Solo</td>
      <td>Solo Tackles</td>
    </tr>
    <tr>
      <td>Tack Ast</td>
      <td>Assisted Tackles</td>
    </tr>
    <tr>
      <td>Pass Def</td>
      <td>Passes Defended</td>
    </tr>
    <tr>
      <td>Sack</td>
      <td>Sacks Recorded</td>
    </tr>
    <tr>
      <td>Int</td>
      <td>Interceptions Made</td>
    </tr>
    <tr>
      <td>Fum Rec</td>
      <td>Fumbles Recovered</td>
    </tr>
    <tr>
      <td>Fum Force</td>
      <td>Fumbles Forced</td>
    </tr>
    <tr>
      <td>TD</td>
      <td>Touchdowns</td>
    </tr>
    <tr>
      <td>Safe</td>
      <td>Safeties</td>
    </tr>
    <tr>
      <td>Blk Kick</td>
      <td>Blocked Kicks</td>
    </tr>
    <tr>
      <td>Ret Yds</td>
      <td>Return Yards</td>
    </tr>
    <tr>
      <td>Ret TD</td>
      <td>Return Touchdowns</td>
    </tr>
  </tbody>
</table>